<!DOCTYPE html>
<html>
<head>
	<title>envi</title>
	<link rel="stylesheet" type="text/css" href="/static/css/doc.css">
</head>
<body>
<h3>THE ENVIRONMENT</h3>
<p>
Hopetoun Falls, Australia

Bachalpsee in the Swiss Alps

Lightning strikes during the eruption of the Galunggung volcano, West Java, in 1982

Roads in Kerala
Nature, in the broadest sense, is the natural, physical, or material world or universe. "Nature" can refer to the phenomena of the physical world, and also to life in general. The study of nature is a large, if not the only, part of science. Although humans are part of nature, human activity is often understood as a separate category from other natural phenomena.</p>
<ul>
	{% for f in fruits %}
	<li>
		{{f}}
	</li>
	{% endfor %}
</ul>

</body>
</html>